<MudDrawerContainer>
    <MudDrawer Open="true" ClipMode="DrawerClipMode.Always">
        <MudNavMenu>
            <MudNavLink Href="" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Home" />
                <span>Home</span>
            </MudNavLink>
            <MudNavLink Href="counter">
                <MudIcon Icon="@Icons.Material.Filled.Add" />
                <span>Counter</span>
            </MudNavLink>
            <MudNavLink Href="weather">
                <MudIcon Icon="@Icons.Material.Filled.List" />
                <span>Weather</span>
            </MudNavLink>
        </MudNavMenu>
    </MudDrawer>
</MudDrawerContainer>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
